<img
  id="HeroSection.Main.ImageItem"
  alt="American Home Shield Featuring Kitchen as part of Home Warranty Coverage Hero Image"
  sizes="100vw"
  srcset="
    /_next/image/?url=https%3A%2F%2Fcdn.frontdoorhome.com%2Fahs%2Fahs-ecom%2Fprod-b32dc363%2Fstatic%2Fimg%2Fhome%2Fahs-hero-desktop-flipped.jpg&amp;w=640&amp;q=75   640w,
    /_next/image/?url=https%3A%2F%2Fcdn.frontdoorhome.com%2Fahs%2Fahs-ecom%2Fprod-b32dc363%2Fstatic%2Fimg%2Fhome%2Fahs-hero-desktop-flipped.jpg&amp;w=750&amp;q=75   750w,
    /_next/image/?url=https%3A%2F%2Fcdn.frontdoorhome.com%2Fahs%2Fahs-ecom%2Fprod-b32dc363%2Fstatic%2Fimg%2Fhome%2Fahs-hero-desktop-flipped.jpg&amp;w=828&amp;q=75   828w,
    /_next/image/?url=https%3A%2F%2Fcdn.frontdoorhome.com%2Fahs%2Fahs-ecom%2Fprod-b32dc363%2Fstatic%2Fimg%2Fhome%2Fahs-hero-desktop-flipped.jpg&amp;w=1080&amp;q=75 1080w,
    /_next/image/?url=https%3A%2F%2Fcdn.frontdoorhome.com%2Fahs%2Fahs-ecom%2Fprod-b32dc363%2Fstatic%2Fimg%2Fhome%2Fahs-hero-desktop-flipped.jpg&amp;w=1200&amp;q=75 1200w,
    /_next/image/?url=https%3A%2F%2Fcdn.frontdoorhome.com%2Fahs%2Fahs-ecom%2Fprod-b32dc363%2Fstatic%2Fimg%2Fhome%2Fahs-hero-desktop-flipped.jpg&amp;w=1920&amp;q=75 1920w,
    /_next/image/?url=https%3A%2F%2Fcdn.frontdoorhome.com%2Fahs%2Fahs-ecom%2Fprod-b32dc363%2Fstatic%2Fimg%2Fhome%2Fahs-hero-desktop-flipped.jpg&amp;w=2048&amp;q=75 2048w,
    /_next/image/?url=https%3A%2F%2Fcdn.frontdoorhome.com%2Fahs%2Fahs-ecom%2Fprod-b32dc363%2Fstatic%2Fimg%2Fhome%2Fahs-hero-desktop-flipped.jpg&amp;w=3840&amp;q=75 3840w
  "
  src="/_next/image/?url=https%3A%2F%2Fcdn.frontdoorhome.com%2Fahs%2Fahs-ecom%2Fprod-b32dc363%2Fstatic%2Fimg%2Fhome%2Fahs-hero-desktop-flipped.jpg&amp;w=3840&amp;q=75"
  decoding="async"
  data-nimg="fill"
  class="w-full z-0 absolute"
  style="
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  "
/>
