<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  </head>
<body>
  <div id="ZN_1TwtaOFMUHGL74p">
  </div>
      
      <div>
          <div class="hidden md:block ReferralLinksSection_body__vF7Ds">
            <div class="flex flex-cols justify-center items-start py-24 px-6">
              <div class="column">
                <div class="ReferralLinksSection_heading__angRg">Homeowners</div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://shopping.ahs.com/plans/">Get a quote</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://www.ahs.com/home-matters/cost-savers/start-new-years-with-a-home-warranty/">Why should I buy a warranty?</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://www.ahs.com/real-estate/real-estate-plans/">Buying or selling a home?</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://myaccount.ahs.com/login/">Log in to MyAccount</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://www.ahs.com/request-service/">Schedule a repair</a>
                </div>
              </div>
              <div class="separator separator-vertical separator-vertical-gap-md mx-16 -my-8 ReferralLinksSection_separator__ro9fm"></div>
              <div class="column">
                <div class="ReferralLinksSection_heading__angRg">Real estate agents</div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://www.ahs.com/real-estate/why-ahs/">Why partner with AHS?</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://www.ahs.com/login/">Partner Portal login</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://pro.ahs.com/my-account/registration/registration.jsp">Register for an account</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://www.ahs.com/login/">Buy a real estate plan</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="tel:+866.934.0207">
                    <svg viewBox="0 0 24 24" fill="currentcolor" class="text-primary h-5 inline-block pr-1" width="18" height="18">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M18.076 13.35a1.601 1.601 0 00-1.297.07l-2.652 1.35a14.997 14.997 0 01-4.896-4.896l1.351-2.655c.203-.4.23-.867.072-1.288L9.192 2.038A1.6 1.6 0 007.694 1H4.11a3.002 3.002 0 00-2.986 3.27 20.81 20.81 0 003.228 9.124 20.489 20.489 0 006.302 6.3 20.779 20.779 0 009.059 3.22A2.996 2.996 0 0023 19.916v-3.583a1.6 1.6 0 00-1.028-1.495l-3.896-1.487zm-3.532 3.451l2.984-1.518 3.473 1.325v3.312a1 1 0 01-1.09 1.004 18.775 18.775 0 01-8.177-2.913 18.518 18.518 0 01-5.7-5.697 18.797 18.797 0 01-2.919-8.24A1 1 0 014.111 3h3.307L8.72 6.469 7.2 9.456a.998.998 0 00.022.948 16.994 16.994 0 006.375 6.375.999.999 0 00.947.022z" fill="currentcolor"></path>
                    </svg>866.934.0207</a>
                  </div>
                </div>
              <div class="separator separator-vertical separator-vertical-gap-md mx-16 -my-8 ReferralLinksSection_separator__ro9fm"></div>
              <div class="column">
                <div class="ReferralLinksSection_heading__angRg">Contractors &amp; Techs</div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://www.ahs.com/contractors/joinAHS/">Become a tech</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://contractor.frontdoorhome.com/">Register for an account</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh">
                  <a class="text-interactive-800" target="_self" href="https://www.ahs.com/contractors/joinAHS/">About our contractor network</a>
                </div>
                <div class="ReferralLinksSection_link__sZ5Uh"><a class="text-interactive-800" target="_self" href="https://contractor.frontdoorhome.com/">Contractor dashboard login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    </div>
  </div>

  
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>




