{% extends 'base.html' %} {% load static %}
{% block content %}



<div class="card">
  <img src="static/img/index/ahs.jpg" alt="" class="img-fluid">
  <div class="card-body text-center">
    <h1 class="display-4 mb-4 text-center">COVERAGE FOR THE REAL WORLD</h1>
    <p>
      Our plans cover up to 23 appliances and systems, and if we can't repair it, we'll replace it. That's why we're America's #1 Home Warranty Company with more than 2 million members.
    </p>
  </div>




<!-- icons -->
<div class="container-fluid">
  <div class="card-columns" >
  
  <div class="card text-center">
    <img src="static/img/index/heating.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Heating &amp; Cooling</span>
      </h2>
      <p class="text-center text-1">Air conditioning units, Heating units, &amp;heat pumps</p>
    </div>
  </div>
        



  <div class="card text-center">
    <img src="static/img/index/es.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Electrical Systems</span>
      </h2>
      <p class="text-center text-1"></p>Wiring, fuse boxes &amp;outlets</p>
    </div>
  </div>

  <div class="card text-center">
    <img src="static/img/index/ps.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Plumbing Systems</span>
      </h2>
      <p class="text-center text-1"></p>Water lines, pipe leaks, breaks &amp; stoppages</p>
    </div>
  </div>

  <div class="card text-center">
    <img src="static/img/index/ka.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Kitchen Appliances</span>
      </h2>
      <p class="text-center text-1"></p>Refrigerator, oven, range &amp; microwave</p>
    </div>
  </div>

  <div class="card text-center">
    <img src="static/img/index/la.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Laundry Appliances</span>
      </h2>
      <p class="text-center text-1"></p>Washing machine &amp;clothes dryer</p>
    </div>
  </div>


  <div class="card text-center">
    <img src="static/img/index/el.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Electronics</span>
      </h2>
      <p class="text-center text-1"></p>Computers, TVs, gaming systems &amp; smart home products</p>
    </div>
  </div>


  <div class="card text-center float-none">
    <img src="static/img/index/pht.png" alt="" class="img-sm" style="width:200px;">       
    <div class="card-body float-none">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Pool and Hot Tub</span>
      </h2>
      <p class="text-center text-1"></p>Pools &amp; in-ground spas &amp; hot tubs</p>
    </div>
  </div>
</div>




<div id="homeWarrantyInfoSection.Main" class="container px-4 md:px-16 xl:px-48">
  <div class="text-base">
  <div id="homeWarrantyInfoSection.Items">
  <div>
    <div
      id="homeWarrantyInfoSection.FirstInfo"
      class=""
      style="display: block"
    >
      <div class="my-4" id="home_warranty_info_item.WhatIsAHomeWarranty">
        <div class="flex justify-center">
          <a
            href="#"
            class="link link-underline-hover text-3xl text-center font-bold text-ahs-blue leading-8 z-10 uppercase"
            tabindex="0"
            aria-disabled="false"
            ><h2>
            What Is a Home Warranty?
            </h2></a
          >
        </div>
        <div class="pt-4 HomeWarranty_paragraphSpacing__PzcUx">
          <p>
            A warranty for your home is an annual renewable service contract
            that provides protection and peace of mind, offering a safeguard
            for when certain essential household systems and appliances
            break. Home warranties help cut the high cost to repair or
            replace many of the systems and appliances in your home. They
            complement your homeowners' insurance by protecting things that
            aren’t covered under the umbrella of home insurance.
          </p>
          <p></p>
          <p>
            An American Home Shield home service plan is like a traditional
            home warranty but better, thanks to its extended coverage and
            exclusive member perks. The first layer of protection is to help
            with the cost and hassle that comes with repairing or replacing
            parts of home appliances and systems that break down over time.
            But we don’t stop there – our home service plans provide
            American Home Shield members with exclusive pricing on home
            maintenance services, new appliances, and a variety of home
            services. From tech installation and setup to pre-season HVAC
            tune-ups, we’ve got your back.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
  
  <div class="container">
    <a class="btn btn-info"
      data-toggle="collapse"
      href="#demo" role="button"> Read more</a>

      <!-- <button
        type="button"
        class="btn btn-info"
        data-toggle="collapse"
        href="#demo" role="button" aria-expanded="false" aria-controls="demo"
      >
        Read more
      </button> -->
      <div class="row">
        <div class="col">
          <div id="demo" class="collapse">
            <div class="card card-body">
              <h2>WHY DO I NEED ONE?</h2> 
              <p>
              The short answer is that home warranty
              coverage is a proactive way to shield the home systems and
              appliances you rely on every day. It’s a cover-all approach
              that keeps you protected from the inconvenience of going
              without the essentials. When an item breaks down due to
              normal wear and tear, we will help with the cost to repair
              it. If it can't be repaired, we will replace the item for
              you (subject to the limitations and exclusions of your
              plan). It’s not just about the immediate benefits, either –
              a home service plan helps keep your budget under control and
              saves you time searching for a qualified contractor.
              </p> 
              <h2>
              WHAT'S COVERED?
              </h2>  
              <p>
              American Home Shield home warranties, which we
              refer to as home service plans, protect the home systems and
              appliances that you use every day – no matter their age. You
              can shield the items that keep your home running smoothly
              and choose a plan that’s right for you. Our home service
              plans include covered repairs for major components of your
              heating and cooling systems (with our air conditioner
              warranty included in all plans), electrical systems,
              plumbing systems, kitchen appliances, and laundry
              appliances, as well as roof leak repair and more. Feel
              empowered to ditch that single-appliance extended warranty –
              American Home Shield offers you more protection and better
              value.
              </p>  
              <h2>
              ARE THEY WORTH IT?
              </h2>   
              <p>
              Let’s provide a real-world example
              of how our home service plans can help you save money. The
              cost to repair or replace an A/C unit without a warranty can
              be up to $3,800* – you would be out of pocket for the total
              amount. In contrast, all three of our home service plans
              include A/C unit protection. If a breakdown occurs, you
              simply pay the Trade Service Call Fee you selected ($75,
              $100 or $150) when you purchased your plan to have it
              repaired or replaced (subject to the limitations and
              exclusions in your plan). When you think about all of the
              home systems and appliances you use every day, repair and
              replacement costs can add up quickly. An American Home
              Shield home service plan is a great way to protect your
              budget and keep your home running smoothly. You can compare
              our home warranty plans to make sure you're choosing the
              coverage limits that make the most sense for your personal
              situation.
              </p>    
              <p>
              *Repair/replacement costs are the eightieth
              percentile of U.S. costs according to a nationwide survey of
              homeowners conducted in 2019 by ClearVantage for American
              Home Shield. </p> 
            </div>
          </div>
        </div>
      </div>
  </div>
  
</div>   
<br>
<br>

<!-- #our member -->
<div class="container-xl">
       
 <div class="card-columns" style="width: 1500px;">
   <div class="container-xl">
     <div class="card" style="width: 700px; height: 700px;" >
       <img src="static/img/index/our-members-get-more.jpg" alt="" class="card-img-left" >
      </div>
   </div>
   <div class="container-xl">
     <div class="card p-5" style="width: 700px; height: 724px;">
         <div class="justify-right">
                     <div class="xl:w-700px">
                     <h2
                     class="px-4 text-3xl font-bold text-center text-ahs-blue xl:text-left xl:text-4xl xl:p-0"
                     >
                     OUR MEMBERS GET MORE.
                     </h2>
                     <div class="px-4 my-3 text-base xl:p-0 text-center lg:text-left">
                     All home warranties are not created equal. Our Shield Assurances
                     are always included, even in our base plans. This means you’ll
                     get protection for:
                     </div>
                     <div class="px-4 my-6 xl:p-0 xl:my-10">
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                     <svg
                     fill="currentcolor"
                     viewBox="0 0 24 24"
                     class="text-primary mr-3 OurMembersSection_ourMembersMainIcon__ZI87p"
                     width="24"
                     height="24"
                     >
                     <path
                                 fill-rule="evenodd"
                                 d="M1 12c0 6.075 4.925 11 11 11s11-4.925 11-11S18.075 1 12 1 1 5.925 1 12zm2 0a9 9 0 019-9 9 9 0 019 9 9 9 0 01-9 9 9 9 0 01-9-9zm6.796 1.921l6.114-6.24a.6.6 0 01.859 0l.558.573a.6.6 0 01-.001.839l-7.09 7.237a.6.6 0 01-.852.005L6.732 13.69a.6.6 0 01.007-.856l.574-.557a.6.6 0 01.841.007l1.642 1.637z"
                     ></path>
                     </svg>
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Older items, no matter their age</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                     <svg
                     fill="currentcolor"
                     viewBox="0 0 24 24"
                     class="text-primary mr-3 OurMembersSection_ourMembersMainIcon__ZI87p"
                     width="24"
                     height="24"
                     >
                     <path
                                 fill-rule="evenodd"
                                 d="M1 12c0 6.075 4.925 11 11 11s11-4.925 11-11S18.075 1 12 1 1 5.925 1 12zm2 0a9 9 0 019-9 9 9 0 019 9 9 9 0 01-9 9 9 9 0 01-9-9zm6.796 1.921l6.114-6.24a.6.6 0 01.859 0l.558.573a.6.6 0 01-.001.839l-7.09 7.237a.6.6 0 01-.852.005L6.732 13.69a.6.6 0 01.007-.856l.574-.557a.6.6 0 01.841.007l1.642 1.637z"
                     ></path>
                     </svg>
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Undetectable pre-existing conditions</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                     <svg
                     fill="currentcolor"
                     viewBox="0 0 24 24"
                     class="text-primary mr-3 OurMembersSection_ourMembersMainIcon__ZI87p"
                     width="24"
                     height="24"
                     >
                     <path
                                 fill-rule="evenodd"
                                 d="M1 12c0 6.075 4.925 11 11 11s11-4.925 11-11S18.075 1 12 1 1 5.925 1 12zm2 0a9 9 0 019-9 9 9 0 019 9 9 9 0 01-9 9 9 9 0 01-9-9zm6.796 1.921l6.114-6.24a.6.6 0 01.859 0l.558.573a.6.6 0 01-.001.839l-7.09 7.237a.6.6 0 01-.852.005L6.732 13.69a.6.6 0 01.007-.856l.574-.557a.6.6 0 01.841.007l1.642 1.637z"
                     ></path>
                     </svg>
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Items without maintenance records</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                     <svg
                     fill="currentcolor"
                     viewBox="0 0 24 24"
                     class="text-primary mr-3 OurMembersSection_ourMembersMainIcon__ZI87p"
                     width="24"
                     height="24"
                     >
                     <path
                                 fill-rule="evenodd"
                                 d="M1 12c0 6.075 4.925 11 11 11s11-4.925 11-11S18.075 1 12 1 1 5.925 1 12zm2 0a9 9 0 019-9 9 9 0 019 9 9 9 0 01-9 9 9 9 0 01-9-9zm6.796 1.921l6.114-6.24a.6.6 0 01.859 0l.558.573a.6.6 0 01-.001.839l-7.09 7.237a.6.6 0 01-.852.005L6.732 13.69a.6.6 0 01.007-.856l.574-.557a.6.6 0 01.841.007l1.642 1.637z"
                     ></path>
                     </svg>
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Breakdowns caused by lack of maintenance</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                     <svg
                     fill="currentcolor"
                     viewBox="0 0 24 24"
                     class="text-primary mr-3 OurMembersSection_ourMembersMainIcon__ZI87p"
                     width="24"
                     height="24"
                     >
                     <path
                                 fill-rule="evenodd"
                                 d="M1 12c0 6.075 4.925 11 11 11s11-4.925 11-11S18.075 1 12 1 1 5.925 1 12zm2 0a9 9 0 019-9 9 9 0 019 9 9 9 0 01-9 9 9 9 0 01-9-9zm6.796 1.921l6.114-6.24a.6.6 0 01.859 0l.558.573a.6.6 0 01-.001.839l-7.09 7.237a.6.6 0 01-.852.005L6.732 13.69a.6.6 0 01.007-.856l.574-.557a.6.6 0 01.841.007l1.642 1.637z"
                     ></path>
                     </svg>
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Improper installations, repairs or modifications</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                     <svg
                     fill="currentcolor"
                     viewBox="0 0 24 24"
                     class="text-primary mr-3 OurMembersSection_ourMembersMainIcon__ZI87p"
                     width="24"
                     height="24"
                     >
                     <path
                                 fill-rule="evenodd"
                                 d="M1 12c0 6.075 4.925 11 11 11s11-4.925 11-11S18.075 1 12 1 1 5.925 1 12zm2 0a9 9 0 019-9 9 9 0 019 9 9 9 0 01-9 9 9 9 0 01-9-9zm6.796 1.921l6.114-6.24a.6.6 0 01.859 0l.558.573a.6.6 0 01-.001.839l-7.09 7.237a.6.6 0 01-.852.005L6.732 13.69a.6.6 0 01.007-.856l.574-.557a.6.6 0 01.841.007l1.642 1.637z"
                     ></path>
                     </svg>
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Malfunctions due to sediment, rust or corrosion</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                     <svg
                     fill="currentcolor"
                     viewBox="0 0 24 24"
                     class="text-primary mr-3 OurMembersSection_ourMembersMainIcon__ZI87p"
                     width="24"
                     height="24"
                     >
                     <path
                                 fill-rule="evenodd"
                                 d="M1 12c0 6.075 4.925 11 11 11s11-4.925 11-11S18.075 1 12 1 1 5.925 1 12zm2 0a9 9 0 019-9 9 9 0 019 9 9 9 0 01-9 9 9 9 0 01-9-9zm6.796 1.921l6.114-6.24a.6.6 0 01.859 0l.558.573a.6.6 0 01-.001.839l-7.09 7.237a.6.6 0 01-.852.005L6.732 13.69a.6.6 0 01.007-.856l.574-.557a.6.6 0 01.841.007l1.642 1.637z"
                     ></path>
                     </svg>
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Removal of old, defective items</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                     <svg
                     fill="currentcolor"
                     viewBox="0 0 24 24"
                     class="text-primary mr-3 OurMembersSection_ourMembersMainIcon__ZI87p"
                     width="24"
                     height="24"
                     >
                     <path
                                 fill-rule="evenodd"
                                 d="M1 12c0 6.075 4.925 11 11 11s11-4.925 11-11S18.075 1 12 1 1 5.925 1 12zm2 0a9 9 0 019-9 9 9 0 019 9 9 9 0 01-9 9 9 9 0 01-9-9zm6.796 1.921l6.114-6.24a.6.6 0 01.859 0l.558.573a.6.6 0 01-.001.839l-7.09 7.237a.6.6 0 01-.852.005L6.732 13.69a.6.6 0 01.007-.856l.574-.557a.6.6 0 01.841.007l1.642 1.637z"
                     ></path>
                     </svg>
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Duplicates of the same item, like that extra A/C unit</span
                     >
                     </div>
         </div>
         </div>
       </div>
                 
                 
     </div>
     </div>
     
</div>
</div>
<br>
<br>


<!-- Inquiry Modal -->

  
    
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="property_name" class="col-form-label">Property:</label>
            <input type="text" name="listing" class="form-control" value="45 Drivewood Cirlce" disabled>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" name="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea name="message" class="form-control"></textarea>
          </div>
          <hr>
          <input type="submit" value="Send" class="btn btn-block btn-secondary">
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<!-- owners-->
<div class="container">
  <div class="card">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">
        <h4>
          Homeowners
        </h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#" class="btn" role="button">
        Why should I buy a warranty?
      </a></td>
      <td><a href="#" class="btn" role="button">
        Buying or selling a home?
      </a></td>
      <td><a href="/accounts/login" class="btn" role="button">
        Log in to MyAccount
      </a></td>
      <td>
        <a href="#" class="btn" role="button">
          Schedule a repair
        </a>
      </td>
    </tr>
  </tbody>
  </table>
  </div>

  <div class="card">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">
        <h4>
          Real estate agents
        </h4>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#" class="btn" role="button">
        Why partner with AHS?
      </a></td>
      <td><a href="/accounts/login" class="btn" role="button">
        Partner Portal login
      </a></td>
      <td><a href="/accounts/register" class="btn" role="button">
        Register for an account 
        </a></td>
      <td><a href="#" class="btn" role="button">
        Buy a real estate plan
      </a></td>
    </tr>
  </tbody>
  </table>
  </div>


  <div class="card">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">
        <h4>
          Contractors & Techs
        </h4>
      </th>
    </tr>
  </thead>
  <tbody>   
    <tr>
      <td><a href="#" class="btn" role="button">
        Become a tech
      </a></td>
      <td><a href="/accounts/register" class="btn" role="button">
        Register for an account
      </a></td>
      <td><a href="#" class="btn" role="button">
        About our contractor network
      </a></td>
      <td><a href="/accounts/login" class="btn" role="button">
        Contractor dashboard login
      </a></td>
    </tr>
  </tbody>
  </table>
  </div>
</div>

<br>
<br>
<br>


<script
 src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
 integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
 crossorigin="anonymous"
></script>
<script
 src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
 integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
 crossorigin="anonymous"
></script>
<script
 src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
 integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
 crossorigin="anonymous"
></script>
{% endblock %}
