{% extends 'base.html' %}

<!---->
{% block content %}
<!-- add method within form tab -->
{% comment %} <div class="modal-body"> {% endcomment %}
  <!-- add method within form tab -->
  <form action="{% url 'contact' %}" method="POST">
    {% csrf_token %}
    <!-- check user then get id -->
    {% if user.is_authenticated %}
    <input type="hidden" name="user_id" value="{{user.id}}" />
    {% else %}
    <input type="hidden" name="user_id" value="0" />
    {% endif %}
    <!-- relational database, from listing connected to realtor, so can access realtor fields -->
    {% comment %} <input type="hidden" name="realtor_email" value="{{listing.realtor.email}}"/>
    <input type="hidden" name="listing_id" value="{{listing.id}}"/> {% endcomment %}
    <!-- remove input disable -->

{% comment %} </div> {% endcomment %}

<section id="contact" class="bg-light py-5">
  <div class="container">
    <!-- once user login, show the value -->
    <div class="form-group">
      <label for="name" class="col-form-label">Name:</label>
      <input 
        type="text" 
        name="name" 
        class="form-control"
        {% if user.is_authenticated %}
        value="{{user.first_name}} {{user.last_name}}"
        {% endif %}
        required />
    </div>
    <div class="form-group">
      <label for="email" class="col-form-label">Email:</label>
      <input 
        type="email" 
        name="email" 
        class="form-control"
        {% if user.is_authenticated %} 
        value="{{user.email}}"
        {% endif %}
        required />
    </div>
    <div class="form-group">
      <label for="phone" class="col-form-label">Phone:</label>
      <input type="text" name="phone" class="form-control" />
    </div>
    <div class="form-group">
      <label for="address" class="col-form-label">Address:</label>
      <input type="text" name="address" class="form-control" />
    </div>
    <div class="form-group">
      <label for="message" class="col-form-label">Message:</label>
      <textarea name="message" class="form-control"></textarea>
    </div>
    <hr />
    <input
      type="submit"
      value="Send"
      class="btn btn-block btn-secondary"
    />
  </form>
</div>
</div>
</div>
</div>
{% comment %}
<section id="contact" class="bg-light py-5">
  <div class="container">
    <form action="{% url 'contact' %}" method="POST">
      {% csrf_token %}
      <!-- check user then get id -->

      <!-- once user login, show the value -->
      <div class="form-group">
        <label for="name" class="col-form-label">Name:</label>
        <input
          type="text"
          name="name"
          class="form-control"
          {%
          if
          user.is_authenticated
          %}
          value="{{user.first_name}} {{user.last_name}}"
          {%
          endif
          %}
          required
        />
      </div>
      <div class="form-group">
        <label for="email" class="col-form-label">Email:</label>
        <input
          type="email"
          name="email"
          class="form-control"
          {%
          if
          user.is_authenticated
          %}
          value="{{user.email}}"
          {%
          endif
          %}
          required
        />
      </div>
      <div class="form-group">
        <label for="phone" class="col-form-label">Phone:</label>
        <input type="text" name="phone" class="form-control" />
      </div>
      <div class="form-group">
        <label for="address" class="col-form-label">Address:</label>
        <input type="text" name="address" class="form-control" />
      </div>
      <div class="form-group">
        <label for="message" class="col-form-label">Message:</label>
        <textarea name="message" class="form-control"></textarea>
      </div>
      <hr />
      <input type="submit" value="Send" class="btn btn-block btn-secondary" />
    </form>
  </div>
</section>
{% endcomment %} {% endblock %}
